extends layout

block content
	#container(ng-controller="FilesCtrl")
		.alertView(style="height:90px")
			.alert.alert-success(ng-init="success = false", ng-show="success") {{message}}
			.alert.alert-danger(ng-init="danger = false", ng-show="danger") {{message}}
		.col-md-2
			button.btn.btn-default.btn-lg(ng-click="list()") Get List
			ul.list-group(ng-init="list()")
				li.list-group-item(ng-repeat="file in files")
					div(ng-hide="bEdit")
						label.file-label(ng-click="read(file)", ng-dblclick="bEdit=!bEdit; newName=file") {{file}}
						button.close.pull-right(ng-click="remove(file)") ×
					div(ng-show="bEdit")
						input.form-control(ng-model="newName", ng-enter="bEdit=!bEdit; rename(file, newName)")
		.col-md-10
			button.btn.btn-default.btn-lg(ng-click="create(filename)") Create
			button.btn.btn-default.btn-lg(ng-click="update(filename)") Update
			input.form-control(ng-model="filename", type="text", placeholder="file name")
			textarea.form-control(ng-model="contents", name="fileContents", rows="24", placeholder="file contents")
