extends layout

block content
	#container(ng-controller="FileLineCtrl")
		.alertView(style="height:90px")
			.alert.alert-success(ng-init="success = false", ng-show="success") {{message}}
			.alert.alert-danger(ng-init="danger = false", ng-show="danger") {{message}}
		form.form-inline(role="form")
			.form-group
				label.sr-only(for="_txt_filename") File Name
				input.form-control#_txt_filename(ng-model="filename", type="text", placeholder="file name")
			.form-group
				label.sr-only(for="_num_linenum") Line Number
				input.form-control#_num_linenum(ng-model="linenum", type="number", placeholder="line number")
			button.btn.btn-default(type="submit", ng-click="getLine()") Get Line
		textarea.form-control(ng-model="contents", name="fileContents", rows="1", placeholder="file contents")
