form(ng-submit="submit()" ng-controller="SubmitDemoCtrl")
    | Enter text and hit enter:
    input(type="text", ng-model="text", name="text")
    //- input(type="submit", id="submit", value="Submit")
    pre list={{list}}
